body {
    background-color: gray;
}

main {
    background-color: aquamarine;
}

h1 {
    font-weight: bold;
}

.study {
    margin: 10px;
    border: 1px;
}

.place-of-study {
    font-style: italic;
}
